<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xingze.mapper.studentMapper">
   
   <insert id="insertStudent" parameterType="com.xingze.bean.student"  useGeneratedKeys="false">
        INSERT INTO student(student_id,student_name,sex,telphone,password) VALUES(#{student_id},#{student_name},#{sex},#{telphone},#{password})
   </insert>
   
   <select id="getAllStudent"  resultType="com.xingze.bean.student">
        SELECT * FROM  student;
   </select>
   
   <select id="getStudentById" resultType="com.xingze.bean.student" parameterType="String">
        SELECT * FROM student WHERE student_id =#{student_id}
   </select>
   
   <delete id="deleteStudentById"  parameterType="String">
       DELETE FROM student WHERE student_id=#{student_id}
   </delete>
   
   <update id="updateStudentById" parameterType="com.xingze.bean.student">
       UPDATE student SET  student_name=#{student_name},sex=#{sex},telphone=#{telphone},password=#{password} WHERE student_id=#{student_id}
   </update>
   
</mapper>