<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xingze.mapper.studentMapper">
   
   <insert id="insertStudent" parameterType="com.xingze.bean.student"  useGeneratedKeys="false">
        INSERT INTO student(id,name,sex,telphone,password) VALUES(#{id},#{name},#{sex},#{telphone},#{password})
   </insert>
   
   <select id="getAllStudent"  resultType="com.xingze.bean.student">
        SELECT * FROM  student;
   </select>
   
   <select id="getStudentById" resultType="com.xingze.bean.student" parameterType="String">
        SELECT * FROM student WHERE id =#{id}
   </select>
   
   <delete id="deleteStudentById"  parameterType="String">
       DELETE FROM student WHERE id=#{id}
   </delete>
   
   <update id="updateStudentById" parameterType="com.xingze.bean.student">
       UPDATE student SET  name=#{name},sex=#{sex},telphone=#{telphone},password=#{password} WHERE id=#{id}
   </update>
   
</mapper>