<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xingze.mapper.teacherMapper">

   <insert id="teacherLogin" parameterType="com.xingze.bean.teacher"  useGeneratedKeys="false">
        INSERT INTO teacher(teacher_id,teacher_name) VALUES(#{teacher_id},#{teacher_name})
   </insert>

</mapper>